body {
  padding-top: 0px;
  background-image: url("/static/img/ggbridge.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-opacity: 0.1

}

.transbox {
    margin: 25px 25px 25px 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    opacity: 0.95;
}

.header {
  padding: 0px 0px 20px 0px;
  text-align: left;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 30px;
  color: #7a5252;
}

.littleheader {
  padding: 0px 0px 0px 40px;
  text-align: left;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 20px;
  font-weight: bold;
  color: #7a5252;
}

.button {
  width: 20%;
  background-color:#7a5252;
  border: none;
  border-radius: 12px;;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 15px;
  color:#f2f2f2;
  text-decoration: none;
  display: inline-block;
  margin: 25px 25px 25px 0px;
}

input[type=submit] {
     width: 20%;
  background-color:#7a5252;
  border: none;
  border-radius: 12px;;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 15px;
  color:#f2f2f2;
  text-decoration: none;
  display: inline-block;
  margin: 25px 25px 25px 0px;
}
}

