body {
  padding-top: 0px;
  background-image: url("/static/img/ggbridge.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-opacity: 0.1

}

.reggie {
  padding: 40px 15px 10px 500px;
  text-align: center;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 150px;
  color:#7a5252;

}
.littlereg {
  padding: 10px 10px 10px 500px;
  text-align: center;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 40px;
  color: #7a5252;

}
#company {
  padding: 0px 25px 10px 20px;
  text-align: right;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 20px;
  color: #7a5252;

}
#test {
  text-align: right;
}
#individual {
  padding: 25px 25px 25px 25px;
  text-align: center;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 30px;
  color:  hsl(360, 45%, 30%);

}

.button {
  margin-left: 700px;
  width: 100%;
  background-color:#7a5252;
  border: none;
  border-radius: 12px;;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 18px;
  color:#f2f2f2;
  text-decoration: none;
  display: inline-block;
  margin-top:25px;
}