.live {
  padding: 0px;
  
}
.form {
    margin: 5px 5px 20px 5px;

}
.page-header {
  border-bottom: none !important;
}

h2 {
  font-size: 50px !important;
  text-align: center;
}

input[type=name] {
    width: 25%;
    padding: 12px 20px;
    margin: 0px 0px 20px 0px;
}

input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type=email] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type=textarea] {
    width: 25%;
    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type=dropdown] {
    width: 25%;
    height: 10%;
    padding: 12px 20px;
    border-bottom:20px !important;

}
input[type=radio] {
    width: 1%;
    margin-bottom: 80px;

}
input[type=checkbox] {
    width: 1%;
    margin-bottom: 80px;

}
#previous {
  width: 8%;
  height: 3%;
  background-color: #e6e6e6;
  border: none;
  border-radius: 30px;;
  text-decoration: none;
  display: inline-block;

}
#next {
  width: 5%;
  height: 3%;
  background-color: #e6e6e6;
  border: none;
  border-radius: 30px;;
  text-decoration: none;
  display: inline-block;

}