<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/project.css" rel="stylesheet">

      <title>Reggie</title>

  </head>
  <body>
    <div>
        {% for flash in get_flashed_messages() %}
          <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
        {% endfor %}

    {% block body %}
    {% endblock %}

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </div>
  </body>
</html>