
<!-- <link href="/static/css/create_registration_form.css" rel="stylesheet"> -->

{% extends 'base.html' %}

{% block body %}

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

<div class="container">
    <div class="content">
        <h1>{{ new_event.event_name }} Registration Form</h1>
        <p class="lead">Create Questions for the Registration Form.</p>
        <form action="/registration_form_submit/{{ new_event.event_id }}" method="POST" class="form-inline">
        <div id="questions">
            <div class="panel panel-default" id="question">
                <div class="panel-heading">
                    <h3 class="panel-title">Question</h3>
                </div>
            <div class="panel-body">
            <div class="row">
                <!-- Label -->
                <div class="col-lg-3">
                    <label for="label">Label</label>
                    <input type="text" class="form-control" name="label" id="label">
                </div>

                <!-- Type -->

                <div class="col-lg-3">
                    <label for="selector">Type</label>
                        <select class="form-control" name="selector" id="type">
                            <option>Text</option>
                            <option>Large Text</option>
                            <option>Radio</option>
                            <option>Dropdown</option>
                            <option>Checkbox</option>
                        </select>
                </div>

                <div id="options" class="col-lg-3">
                    <button type="button" class="btn btn-default" id="add_option">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Options
                    </button>
                    
                    <label for="option"></label>
                        <input type="text" class="form-control" name="option" id="option">
                </div>
            </div>

            </div>
            </div>
        </div>
        </div>
        <button type="button" class="btn btn-default" id="add_another_question">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add another Question
        </button>
        <button type="submit" class="btn btn-default">Save Registration Form</button>
        </form>
    </div>
</div>

    <script type="text/javascript" charset="utf-8">
    "use strict";


        function cloneQuestion() {
            var question = $("#question").clone().remove("#ll")
            
            return question;
        }


        var opts = []
        $(document).ready(function () {
            $("#add_another_question").click(function () {
                var newQuestion = cloneQuestion()
                $("#questions").append(newQuestion);

            });

            $('#option').hide();
            $("#add_option").click(function () {
                $('#option').show();
                $("#options").append("<input type=text class=form-control name=option id=option>");

            });
        });
        // $("#options_for_" + $("question").attr("id")).val(JSON.stringify(options));


    </script>

{% endblock %}
