{% extends 'base.html' %}

{% block body %}

<h1>Create Registration for {{ new_event.event_name }}</h1>
    <form action="/registration_form_submit/{{ new_event.event_id }}" method="POST">
       
        {% for number in range(number_of_fields) %}       
            <div class='questions'>
                <label class="field">Field:
                    <input name="label" type="text"/>
                    <select name="selector" class="opt">
                        <option id="textbox">Text</option>
                        <option id="dropdown">Dropdown</option>
                        <option id="radio">Radio Button</option>
                        <option id="checkbox">Checkbox</option>
                    </select>
                </label>
            </div>

        {% endfor %}
        <input type='submit' value="Save Form"/>
    </form>

    <script type="text/javascript">

    $("#dropdown").click(options);
    $("#radio").click(options);
    $("#checkbox").click(options);
    $(".opt").click(options);
    // $(".field").click(options);

    function options(evt) {
        
        var opts = [];
        var opt1 = opts.push(prompt("What is your first option?"));

         do {
                var selection = confirm("Do you want to continue ?");

                if( selection == true ){
                    var ask = prompt("Another Option");
                    opts.push(ask);
                } else{
                    return false;
                }
            return opts;
            }
        
        while (selection = true);
    }

    </script>

{% endblock %}
