<link href="/static/css/form.css" rel="stylesheet">

{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">

<h1>Create Individual Account</h1>

<form action="/create_user" method="POST">

    <div class="form-group">
        <label>
            First Name
            <input type="text" name="user_firstname" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Last Name
            <input type="text" name="user_lastname" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Email
            <input type="email" name="useremail" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Phone Number
            <input type="text" name="userphone" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Create a user account">
    </div>

</form>
</div>
{% endblock %}