{% extends 'base.html' %}

{% block body %}

<h1>Create Event</h1>
    <form action="/create_reg" method="POST">
        <label>Event name:<input name="event_name" type="text" /></label>
        <label>Number of Fields:<input name="number_of_fields" type="text"/></label>
        <label>Select background color:<input type="color" name="color" value="#ff0000"></label>
        <label>Would you like your logo:<input name="logo" type="text"/></label>
        <label>Payment page?
            <input name="payment_page" type="checkbox" value="Yes"/>Yes
        </label>
        <input type='submit' value="Create Registration Form"/>
    </form>


{% endblock %}