{% extends 'base.html' %}

{% block body %}

<h1>Create Registration for {{ new_event.event_name }}</h1>
    <form action="/registration_form_submit/{{ new_event.event_id }}" method="POST">
       
        {% for number in range(number_of_fields) %}       
            <div class='questions'>
                <label class="field">Field:
                    <input name="label" type="text"/>
                    <select name="selector" class="type" id="type_{{ number }}">
                        <option id="textbox">Text</option>
                        <option id="dropdown">Dropdown</option>
                        <option id="radio">Radio Button</option>
                        <option id="checkbox">Checkbox</option>
                    </select>
                    <input type="hidden" name="options" id="options_for_type_{{ number }}"/>
                </label>
            </div>

        {% endfor %}
        <input type='submit' value="Save Form"/>
    </form>

    <script type="text/javascript">
    "use strict";

    $(".type").click(options);
 

    function options() {
        var $field = $(this);
        
        var opts = [];
        var opt1 = opts.push(prompt("What is your first option?"));
        // debugger;
         do {
                var selection = confirm("Do you want to continue ?");
                if( selection == false){
                    break;
                } else{
                    var ask = prompt("Another Option");
                    opts.push(ask);
                }
            }

        while (selection = true)

        console.log (opts);
        $("#options_for_" + $field.attr("id")).val(JSON.stringify(opts));
    }

    // $.post("/registration_form_submit/{{ new_event.event_id }}", { opts: opts })

    </script>

{% endblock %}
