{% extends 'base.html' %}

{% block body %}

<div class="well spaced" style="width:40%;">
<h1>Create Company Account</h1>

<form action="/create_company" method="POST">

    <div class="form-group">
        <label>
            Company Name
            <input type="text" name="companyname" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Company Email
            <input type="email" name="companyemail" class="form-control">
        </label>
    </div>


    <div class="form-group">
        <label>
            Contact Person
            <input type="text" name="contactperson" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Company phone
            <input type="text" name="companyphone" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Company Address
            <input type="text" name="companyaddress" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            State
            <input type="text" name="companystate" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Zip
            <input type="text" name="companyzip" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Create a company account">
    </div>

</form>
</div>
{% endblock %}