
<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js">
</script>

{% extends 'base.html' %}
{% block body %}


<div class="well spaced">
    <h2>{{ event.event_name }}</h2>

            <table class="table table-striped">
                <tr>
                    <th> {{ "User ID" }}</th>
                    {% for question in event.questions %}
                        <th> {{ question.label }}</th>
                    {% endfor %}
                    <th>Payment</th>
                    <th>Edit Record</th>
                </tr>

                {% for registration in event.registrations %}
                <tr>

                    <td> {{ registration.user_id }}</td>
                    {% for answer in registration.answers %}
                    <td>{{ answer.value }}</td>
                    {% endfor %}
                    <td>{{ event.price }}</td>
                    <td> <a href="/event_profile/{{ event.event_id }}/data/{{ registration.id }}">Edit Record</a> </td>   
                </tr>
                {% endfor %}
     
            </table>


    <a href="/event_profile/{{ event.event_id }}/csvdata" name="downloadcsv">Download to CSV</a>
        
{% endblock %}