
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js">
</script>


{% extends 'base.html' %}
{% block body %}

<h2> {{ event.event_name }} Dashboard </h2>

  <div>
    <a href="/event_profile/{{ event.event_id }}/home">Site</a>
  </div>
  <div>
    <a href="/event_profile/{{ event.event_id }}/data">Registration Data</a>
  </div>
  <div>
    <p>Attendees Registered: {{ event.registrations|count }}</p>
    <p>Amount Collected: ${{ event.registrations|sum(attribute='event.price')}}</p>
  </div>

    {% if event.registrations|count > 0 %}
      <div class="event-chart" style= "width:500px;height:500px">
          <canvas id="lineChart"></canvas>
          
          <div id="lineLegend" class="chart-legend"></div>
      </div>
    {% endif %}

    <script>
    // Make Line Chart of Registrations over time
    var options = {
      responsive: true
    };
    
    var ctx_line = $("#lineChart").get(0).getContext("2d");


    $.get("/event_profile/{{ event.event_id }}/chart_data.json", function (data) {
      var myLineChart = new Chart(ctx_line).Line(data, options);
      $("#lineLegend").html(myLineChart.generateLegend());
      // $('#lineLegend').width = 50
      // $('#lineLegend').height = 50
    });
    </script>

    
{% endblock %}