<link href="/static/css/event_data.css" rel="stylesheet">

{% extends 'base.html' %}
{% block body %}


<div class="transbox">
<div class="container-fluid">
    <h2 class="header">{{ event.event_name }}</h2>
    <p class="littleheader">Attendees Registered: {{ event.registrations|count }}</p>
    <p class="littleheader">Amount Collected: ${{ event.registrations|sum(attribute='event.price')}}</p>

            <table class="table table-striped">
                <tr>

                    {% for question in event.questions %}
                        <th> {{ question.label }}</th>
                    {% endfor %}
                    <th>Payment</th>
                    <th>Access Record</th>
                </tr>

                {% for registration in event.registrations %}
                <tr>


                    {% for answer in registration.answers|sort(attribute='question.ordinal') %}
                    <td>{{ answer.value }}</td>
                    {% endfor %}
                    <td>{{ event.price }}</td>
                    <td> <a href="/event_profile/{{ event.event_id }}/data/{{ registration.id }}">Access Record</a> </td>   
                </tr>
                {% endfor %}
     
            </table>


    <a href="/event_profile/{{ event.event_id }}/csvdata" name="downloadcsv">
        <input type="button" value="Export to CSV" class="button"/>
    </a>
        
{% endblock %}