
<link href="/static/css/live_registration_form.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery.js"></script>
<script>
    
    $(document).ready(function() {
        $('#payment').hide();
        $('#next').click(function() {
            $('#payment').show();
            $('.form').hide();
            $('#next').hide();
        });
        $('#previous').click(function() {
            $('#payment').hide();
            $('.form').show();
            $('#next').show();
        });
    });

</script>

{% extends 'base.html' %}
{% block body %}

<div class="live">
<div class="container-fluid" style="background-color: {{ event.color }}">
    {% if event.logo != None %}
    <div class="row">
    <div class="col-xs-6 col-md-2">
    <div class="thumbnail" style="color: {{ event.color }}">
        <img id="img" src="/static/uploads/{{ event.logo }}" alt="{{ event.logo }}"/>
    </div>
    </div>
    <div class="col-xs-6 col-md-4">
    <div class="page-header">
        <h2>{{ event.event_name }}</h2>
    </div>
    </div>
    </div>
    {% endif %}

    <form action= "/event_profile/{{ event.event_id }}/live" method="POST">
        {% for question in event.questions %}
        <div class="form">
            <label for="questions_{{ question.ordinal }}">
                {{ question.label }}
            </label>
        </div>
        <div class="form">
            {% if question.label == "Name" %}
                <div class="col-xs-12">
                <input name="question" type="text" class="form-control" value="{{ user.user_firstname }}"/>
            </div>

            {% elif question.label == "Email" %}
                <div class="col-xs-12">
                <input name="question" type="email" class="form-control" value=" {{ user.user_email }}"/>
                </div>

            {% elif question.selector == "Text" %}  
                <div class="col-xs-12">
                <input name="question" class="form-control" type="text"/>
                </div>


            {% elif question.selector == "Large Text" %}
                <div class="col-xs-12">
                <input name="question" class="form-control" type="textarea"/>
                </div>


            {% elif question.selector == "Dropdown" %}
                <div class="col-xs-12">
                <select name="question" class="form-control">
                    {% for option in question.data %}
                        <option>{{ option }}</option>
                    {% endfor %}
                </select>
                </div>


            {% elif question.selector == "Radio Button" %}
                {% for option in question.data %}
                <label class="radio-inline">
                    <input name="question"  class="form-control" type="radio" value="{{ option }}" />{{ option }}
                </lable>
                {% endfor %}



            {% elif question.selector == "Checkbox" %}
                {% for option in question.data %}
                <label class="checkbox-inline">
                    <input name="question" class="form-control" type="checkbox" value="{{ option }}"/>{{ option }}
                </label>
                {% endfor %}


                
            {% else %}
                <p> I dunno what you are talking about</p>
            {% endif %}
        </div>
        {% endfor %}
        
        <div id="payment">
        {% if event.price > 0 %}
            <table class="table table-striped">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td> {{ event.event_name }}</td>
                    <td> {{ event.price }}   
                </tr>    
            </table>
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_bREAtGbwzyYL8PEJODo2uZuI"
                data-image="/static/uploads/{{ event.logo }}"
                data-name="{{ event.event_name }}"
                data-description="Registration Cost"
                data-amount="{{ event.price * 100 }}"
                data-locale="auto">
            </script>
        {% else %}
            <input type="submit" value="Submit Registration"/>
        {% endif %}

        </div>
    </form>
    <nav>
        <ul class="pager" style="color: {{ event.color }}">
            <li><a href="/event_profile/{{ event.event_id }}/home">Event Home</a></li>
            <li><button type="button" id="previous">Previous</button></li>
            <li><button type="button" id="next">Next</button></li>
        </ul>
    </nav>
</div>
</div>


{% endblock %}