{% extends 'base.html' %}

{% block body %}

<h1>Reggie</h1>
    <h4>Registration, made easy.</h4>
        <h5>Company logins</h5> 
            <a href="http://localhost:5000/create_company">Create Company Account</a>
            </br>
            <a href="http://localhost:5000/company_login">Company Login</a>
        <h5>User logins</h5> 
            <a href="http://localhost:5000/create_user">Create User Account</a>
        </br>
            <a href="http://localhost:5000/user_login">User Login</a>


{% endblock %}