
<link href="/static/css/homepage.css" rel="stylesheet">

{% extends 'base.html' %}

{% block body %}
<h1 class="reggie">Reggie</h1>
    <h4 class="littlereg">Beautify Registration</h4>
    <p> Design, build and customize event websites and registration forms. Dynamically interact with registration data to ensure a clean, accurate representation of data.</p>
    <!-- <div class="container">
        <div class="row" id="test">
         <div class="col-xs-12 col-md-6 col-lg-6" id="company">Design, build and customize event websites and registration forms. Dynamically interact with registration data to ensure a clean, accurate representation of data. </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <a href="/create_company">
                    <input type="button" value="Create Company Account" class="button"/>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <a href="/create_user">
                    <input type="button" value="Create Individual Account" class="button"/>
                </a>
            </div>
           
        </div>
    </div>
<!--     <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <a href="/company_login">
                    <input type="button" value="Company Login" class="button"/>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <a href="/user_login">
                    <input type="button" value="Individual Login" class="button"/>
                </a>
            </div>
           
        </div>
    </div> -->


{% endblock %}