{% extends 'base.html' %}
{% block body %}


<div class="well spaced">
    <h2>Attendee: {{ registration.user.user_firstname }}</h2>
    </br>
    <h2> Event: {{ registration.event.event_name }}</h2>

    <table class="table table-striped">
        <tr>
            {% for question in registration.event.questions %}
                <th> {{ question.label }}</th>
            {% endfor %}
                <th>Payment</th>
                <th>Edit</th>
        </tr>
        <tr>
            {% for answer in registration.answers|sort(attribute='question.ordinal') %}
                <td> {{ answer.value }}</td>   
            {% endfor %}
                <td> {{ registration.event.price }}</td>
                <td><a href="/event_profile/{{ registration.event.event_id }}/data/{{ registration.id}}/edit" class="btn btn-info" role="button">Edit</a></td>
        </tr>    
    </table>
    <form action="/event_profile/{{ registration.event.event_id }}/data/{{ registration.id}}/delete" method='POST'>
        <input type='submit' value='DELETE REGISTRATION'>
    </form>
        
                

{% endblock %}