{% extends 'base.html' %}
{% block body %}


<div class="well spaced">
    <h2>Attendee: {{ registration.user.user_name }}</h2>
    </br>
    <h2> Event: {{ registration.event.event_name }}</h2>

    <table>
        <tr>
            {% for question in registration.event.questions %}
                <th> {{ question.label }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for answer in registration.answers %}
                <td> {{ answer.value }}<td>   
            {% endfor %}
        </tr>    
    </table>
    <form action="/event_profile/{{ registration.event.event_id }}/data/{{ registration.id}}/delete" method='POST'>
        <input type='submit' value='DELETE REGISTRATION'>
    </form>
        
                

{% endblock %}