
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://code.jquery.com/jquery.js"></script>

<link href="/static/css/landing_page.css" rel="stylesheet">

{% extends 'base.html' %}
{% block body %}
<div id="reg">
<div class="container-fluid" style="background-image: url('/static/uploads/{{ event.logo }}')">
    <div class="row">
        <div class="col-lg-2">
<!--         {% if event.logo != None %}
            <img id="img" src="/static/uploads/{{ event.logo }}" alt="{{ event.logo }}"/>
        {% endif %} -->
        </div>
        <div class="col-lg-12" style="color:{{ event.color }}">
            <h2 id="header">{{ event.event_name }}</h2>
        </div>
        <div class="col-lg-6" style="color:{{ event.color }}">
            <p>{{ event.description }}</p>
            <p>Start: {{ event.start_date }} at {{ event.start_time }}</p>
            <p>End: {{ event.end_date }} at {{ event.end_time }}</p> 
            <p>Location: {{ event.venue }}</p>
        </div>
        <div class="col-lg-12">
            <div id="map">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{event.address}}&zoom=14&size=400x400&markers=color:red%7Clabel:A%7C{{event.address}},{{event.state}}&key=AIzaSyAK8OzEqj6R1Ln2oRPzUN6BsgekqdhtxFY">
            </div>
        </div>
        <div class="col-lg-6">
            <a href="/event_profile/{{ event.event_id }}/live">
                <input type="button" value="Register Now" class="button" style="background-color:{{ event.color }}"/>
            </a>
        </div>
</div>

{% endblock %}