
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://code.jquery.com/jquery.js"></script>

<link href="/static/css/landing_page.css" rel="stylesheet">

{% extends 'base.html' %}
{% block body %}


<div id="reg">
<div class="container-fluid" style="background-color: {{ event.color }}">
    {% if event.logo != None %}
    <div class="row">
    <div class="col-xs-6 col-md-2">
    <div class="thumbnail" style="color: {{ event.color }}">
        <img id="img" src="/static/uploads/{{ event.logo }}" alt="{{ event.logo }}"/>
    </div>
    </div>
    {% endif %}
    <div class="col-xs-6 col-md-4">
    <div class="page-header">
        <h2>{{ event.event_name }}</h2>
    </div>
    </div>
    </div> 
        <div class="row">
        <div class="col-lg-6">
            <p>{{ event.description }}</p>
            <p>Start: {{ event.start_date }} at {{ event.start_time }}</p>
            <p>End: {{ event.end_date }} at {{ event.end_time }}</p> 
            <p>Location: {{ event.venue }}</p>
            <span><a href="/event_profile/{{ event.event_id }}/live">
                <input type="button" value="Register Now" class="button" style="color:{{ event.color }}"/>
            </a></span>
        </div>
        <div class="col-lg-6">
            <div id="map">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{event.address}}&zoom=14&size=400x400&markers=color:red%7Clabel:A%7C{{event.address}},{{event.state}}&key=AIzaSyAK8OzEqj6R1Ln2oRPzUN6BsgekqdhtxFY">
            </div>
        </div>
    
        
        
        </div>
        
</div>

{% endblock %}