{% extends 'base.html' %}

{% block body %}

<h1>Create Registration for {{ new_event.event_name }}</h1>
    <form action="/registration_form_submit/{{ new_event.event_id }}" method="POST">
       
        {% for number in range(number_of_fields) %}       
            <div class='questions'>
                <label>Field:
                    <input name="label" type="text"/>
                    <select name="selector">
                        <option>Text</option>
                        <option>Dropdown</option>
                        <option>Radio Button</option>
                        <option>Checkbox</option>
                    </select>
                </label>
            </div>

        {% endfor %}
        <input type='submit' value="Save Form"/>
    </form>

{% endblock %}
